@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 색상 */
    --color-primary: #6fc444;
    --color-primary-light: #a6d68e;
    --color-secondary: #f4f5ce;
    --color-secondary-light: #aedef5;
  }
}

/* 테마색상 */
@layer base {
  html[data-theme='RedGrapefruit'] {
    --color-primary: #f45e50;
    --color-primary-light: #ed8e85;
    --color-secondary: #fbbaba;
    --color-secondary-light: #fff4f4;
  }

  html[data-theme='LemonadeBreeze'] {
    --color-primary: #c4d966;
    --color-primary-light: #fff5a8;
    --color-secondary: #fffbea;
    --color-secondary-light: #ddffc8;
  }

  html[data-theme='GreenFlowerGarden'] {
    --color-primary: #6fc444;
    --color-primary-light: #a6d68e;
    --color-secondary: #f4f5ce;
    --color-secondary-light: #aedef5;
  }

  html[data-theme='CalmPistachio'] {
    --color-primary: #4e9fac;
    --color-primary-light: #92c7cf;
    --color-secondary: #fbf9f1;
    --color-secondary-light: #c7e9ea;
  }

  html[data-theme='BlueToy'] {
    --color-primary: #509bff;
    --color-primary-light: #98c3fd;
    --color-secondary: #fffdea;
    --color-secondary-light: #c7f5f1;
  }

  /* Peach Candy */
  /* Rainbow Toyroom */
  /* Grey Scale */
}

/* body {
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px)
    env(safe-area-inset-left, 20px);
} */

/* 
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
//                           레거시 코드                          //
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
*/
@layer base {
  body {
    @apply list-none font-pretendard text-text;
  }
  input,
  textarea,
  button {
    @apply focus:outline-none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }
}

@layer utilities {
  .height-without-headerIOS {
    height: calc(100vh - 6rem);
  }
  .height-without-headerAnd {
    height: calc(100vh - 4rem);
  }
  .height-without-footerIOS {
    height: calc(100vh - 6rem);
  }
  .height-without-footerAnd {
    height: calc(100vh - 5.5rem);
  }
  .height-contentAnd {
    height: calc(100vh - 9rem);
  }
  .height-contentIOS {
    height: calc(100vh - 9rem);
  }
}
/* 초미니 : 320 이상 */
/* 미니 : 350 이상 */
/* 기본 : 385 이상  */
/* 프로 : 405 이상 */
@media (min-width: 320px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 350px) {
  html {
    font-size: 15px;
  }
  @media (min-height: 850px) {
    html {
      font-size: 16px;
    }
  }
}

@media (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 405px) {
  html {
    font-size: 17px;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Gyeonggi_Title_Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}
