@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-text;
    @apply list-none;
  }
  input,
  textarea,
  button {
    @apply focus:outline-none;
  }
}

@layer utilities {
  .height-without-header {
    height: calc(100vh - 4rem);
  }
  .height-without-footer {
    height: calc(100vh - 5rem);
  }
  .height-content {
    height: calc(100vh - 9rem);
  }
}

/* 미니 : 350 - 375 */
/* 기본 : 385 이상  */
/* 프로 : 405 이상 */

@media (min-width: 350px) {
  html {
    font-size: 15px;
  }
  @media (min-height: 850px) {
    html {
      font-size: 16px;
    }
  }
}

@media (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 405px) {
  html {
    font-size: 17px;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
