@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(svg):not(svg *) {
    @apply font-pretendard text-neutral-100;
    @apply select-none list-none focus:outline-none;
  }

  :root {
    /* 색상 */
    --color-primary: #8bcfa7;
    --color-primary-light: #a6d68e;
    --color-secondary: #f4f5ce;
    --color-secondary-light: #aedef5;
  }
}

/* 테마색상 */
@layer base {
  html[data-theme='RedGrapefruit'] {
    --color-primary: #f45e50;
    --color-primary-light: #ed8e85;
    --color-secondary: #fbbaba;
    --color-secondary-light: #fff4f4;
  }

  html[data-theme='LemonadeBreeze'] {
    --color-primary: #c4d966;
    --color-primary-light: #fff5a8;
    --color-secondary: #fffbea;
    --color-secondary-light: #ddffc8;
  }

  html[data-theme='GreenFlowerGarden'] {
    --color-primary: #6fc444;
    --color-primary-light: #a6d68e;
    --color-secondary: #f4f5ce;
    --color-secondary-light: #aedef5;
  }

  html[data-theme='CalmPistachio'] {
    --color-primary: #4e9fac;
    --color-primary-light: #92c7cf;
    --color-secondary: #fbf9f1;
    --color-secondary-light: #c7e9ea;
  }

  html[data-theme='BlueToy'] {
    --color-primary: #509bff;
    --color-primary-light: #98c3fd;
    --color-secondary: #fffdea;
    --color-secondary-light: #c7f5f1;
  }

  /* Peach Candy */
  /* Rainbow Toyroom */
  /* Grey Scale */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Gyeonggi_Title_Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}
